<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <div id="story">
        <h1>A fantastical adventure</h1>
        <p>
            One day, <span style="color:red;"> @Model.Person1</span> and <span style="color:red;"> @Model.Person2</span> were walking through the woods,
            when suddenly a giant <span style="color:red;"> @Model.Animal</span> appeared. "<span style="color:red;"> @Model.Exclamation</span>", <span style="color:red;"> @Model.Person1</span> cried. The two of them <span style="color:red;"> @Model.Verb</span> as quickly possible, and
            when they were safe, <span style="color:red;"> @Model.Person1</span> and <span style="color:red;"> @Model.Person2</span> gave each other a
            giant <span style="color:red;"> @Model.Noun</span>.
        </p>
    </div>
</body>

</html>